{% extends "base.twig" %}

{% block content %}
  
  <article class="post-type-news" id="post-{{ post.ID }}">
    {% include 'partials/page-header.twig' with 
      {
        'image': post.get_field('image'),
        'title': post.title,
        'subheader': post.get_field('subheader'),
        'classes': 'mb-8'
      }
    %}

    <section class="max-w-container mx-auto px-4">
      <div class="max-w-content mx-auto xl:max-w-none mb-4 md:mb-8 flex justify-between items-center px-6 xl:px-20">
        <a href="{{ function('get_permalink', 5453) }}" class="relative">
          <span class="back-arrow"></span>
          <span>{{ __('All News') }}</span>    
        </a>
        <div class="addthis_inline_share_toolbox"></div>
      </div>
      
      <div class="meta-info max-w-content mx-auto mb-8">
        <div class="news__date">{{ post.post_date|date('F j, Y') }}</div>
        <div class="news__author uppercase font-bold">{{ post.news_author }}</div>
        {% if post.location %}
          <div class="news__location">{{ post.get_field('location').name }}</div>
        {% endif %}
      </div>

      {% include 'partials/blocks.twig' with {'blocks': get_blocks(post.post_content)} %}

      <div class="news__body max-w-content mx-auto">{{ post.get_field('body')|wpautop }}</div>
      
    </section>
  </article>
  
{% endblock %}
