<footer id="footer" class="max-w-site mx-auto bg-gray-700 text-white px-4 mt-16">
  <div class="max-w-container mx-auto py-16 px-4">
    <div class="footer__top md:flex flex-wrap items-center justify-between">
      <div class="newsletter-intro mb-8 md:pr-12">
        <div class="font-header text-34 md:text-40 lg:text-52 leading-tight mb-2">{{ options.newsletter_sign_up_title }}</div>
        <div class="">{{ options.newsletter_sign_up_description }}</div>
      </div>
      <div class="newsletter-sign-up flex-auto text-base md:text-lg md:pr-12 mb-8">
        {% include 'forms/newsletter-signup.twig' %}
      </div>
      <div class="social-links mb-8 flex">
        <a href="{{ options.twitter }}" target="_blank" class="text-gray-350 hover:text-white mr-4">
          {% include 'icons/twitter.svg' %}
        </a>
        <a href="{{ options.facebook }}" target="_blank" class="text-gray-350 hover:text-white mx-4">
          {% include 'icons/facebook.svg' %}
        </a>
        <a href="{{ options.youtube }}" target="_blank" class="text-gray-350 hover:text-white mx-4">
          {% include 'icons/youtube.svg' %}
        </a>
        <a href="{{ options.linkedin }}" target="_blank" class="text-gray-350 hover:text-white ml-4">
          {% include 'icons/linkedin.svg' %}
        </a>
      </div>
    </div>

    <div class="border-t mt-6 md:mt-12 opacity-25"></div>

    <div class="footer__bottom lg:flex justify-between text-sm md:text-lg items-end mt-6 md:mt-12 links--white">
      <div class="bottom__left pr-4">{{ options.footer_bottom_left }}</div>
      <div class="bottom__right">{{ options.footer_bottom_right }}</div>
    </div>
  </div>
</footer>
