<header class="{{ image ? 'max-w-site' : 'max-w-container px-4 ' }} mx-auto overflow-hidden {{ classes }}">
  <div class="{{ not image ? 'bg-red-500 py-8 md:pt-16 md:pb-12 px-4 md:px-12 lg:px-20' }} text-white relative">
    {% if image.id %}
      <picture>
        <source srcset="{{ image.sizes['page-header'] }}, {{ image.sizes['page-header-lg'] }} 2x" media="(min-width: 800px)">
        <source srcset="{{ image.sizes['page-header-md'] }}, {{ image.sizes['page-header'] }} 2x" media="(min-width: 450px)">
        <img src="{{ image.sizes['page-header-sm'] }}" srcset="{{ image.sizes['page-header-md'] }} 2x" alt="{{ image.alt|replace({'"':''}) }}" class="">
      </picture>
      <div class="gradient-dark absolute w-3/4 left-0 top-0 bottom-0"></div>
    {% else %} 
      <div class="molecules molecules--header hidden lg:block">
        {% include 'icons/molecules.svg' %}
      </div>
    {% endif %}

    <div class="text-wrapper {{ image ? 'absolute top-1/2 left-0 w-ful lg:w-1/2 transform -translate-y-1/2 pl-4 md:pl-12 lg:pl-20' : 'w-full lg:w-8/12' }}">
      <h1>{{ title }}</h1>
      <div class="text-xl md:text-24 lg:text-28 leading-snug">{{ subheader|raw }}</div>
    </div>
  </div>

  {% include 'partials/breadcrumbs.twig' %}
</header>
